<div class="content-section">
    <h1>Pomodoro Timer</h1>
    <div id="timer">
        <div id="timer-nums">
            00:25:00
        </div>
        <div id="timer-buttons">
            <button id="start">Start</button>
            <button id="stop">Stop</buttton>
            <button id="reset">Reset</button>
        </div>
    </div>
</div>