<script type="text/javascript" src="rest_script.js"></script>
<link rel="stylesheet" href="timer_style.css" />
<link rel="stylesheet" href="rest.css" />

<div class="content-section">
    <div id="timer" data-cycle="{{cycle}}">
        <h1>Rest Timer</h1>
        <div id="rest-nums" class="timer-nums">
            00:05:00
        </div>
        <div id="timer-buttons">
            <button id="start-rest">Start</button>
            <button id="pause-rest">Pause</buttton>
            <button id="reset-rest">Reset</button>
        </div>
    </div>
</div>