<script type="text/javascript" src="study_script.js"></script>
<link rel="stylesheet" href="timer_style.css" />

<div class="content-section">
    <h1>Study Timer</h1>
    <div id="timer" data-cycle="{{cycle}}">
        <div id="study-nums" class="timer-nums">
            00:25:00
        </div>
        <div id="timer-buttons">
            <button id="start-study">Start</button>
            <button id="stop-study">Stop</buttton>
            <button id="reset-study">Reset</button>
        </div>
    </div>
</div>