<script type="text/javascript" src="study_script.js"></script>
<link rel="stylesheet" href="timer_style.css" />

<div class="content-section">
    <div id="timer" data-cycle="{{cycle}}">
        <h1>Study Timer</h1>
        <div id="study-nums" class="timer-nums">
            00:10:00
        </div>
        <div id="timer-buttons">
            <button id="start-study" class="button-class">Start</button>
            <button id="stop-study" class="button-class">Stop</buttton>
            <button id="reset-study" class="button-class">Reset</button>
        </div>
    </div>
</div>