body {
    background-color: #ECDFCC;
    color: #181C14;
}
#timer-buttons button{
    all: unset;
    border: solid 2px #697565;
    width: 2rem;
    padding-left: 1rem; 
    padding-right: 1rem;
    border-radius: 10%;
    background-color: #3C3D37;
    color: #ECDFCC;
    cursor: pointer;
}