body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #181C14;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ECDFCC;
    font-family: Poppins, Calibri;
}

* {
    outline: solid white 1px;
}

.content-section {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
