#timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.timer-nums {
    font-size: 5rem;
}
#timer-buttons {
    display: flex;
    gap: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-class{
    all: unset;
    border: solid 2px #ECDFCC;
    width: 8vw;
    text-align: center;
    border-radius: 10%;
    background-color: #697565;
    cursor: pointer;
}
